body {
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    overflow: hidden;

    .canvas-view {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
