body {
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    overflow: hidden;

    .canvas-view {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control-panel {
        width: 256px;
        padding: 10vh 16px;
        max-height: 80vh;
        overflow-y: auto;

        .rule {
            color: white;
            min-height: 24px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            text-transform: uppercase;

            &:before,
            &:after {
                flex: 1;
                content: '';
                background-color: white;
                height: 1px;
                margin-inline: 8px;
            }
        }

        .control {
            color: white;
            min-height: 24px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            input {
                font-family: monospace;

                &[type=number] {
                    color: white;
                    background-color: black;
                    outline: none;
                    border: none;
                    width: 25%;
                    text-align: right;
                }

                &[type=range] {
                    flex: 0 0 100%;
                }
            }
        }
    }
}
